<!DOCTYPE html>
<html>
<head>
  <title>Authentication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_header">
  <% if current_user_exists? %>
    <%= link_to "Log Out", logout_path %>    
  <% end %>
</div>
<% flash.each do |key, value| %>
  <%= content_tag(:div, class: "alert alert-#{key}") do %>
    <p><<%= value %>/p>
  <%end%>
<%end%>

<%= yield %>

</body>
</html>
